
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.foto_sobre_mim{

  width: 50%;
  max-width: 480px; 
  height: auto;
  object-fit: cover;
}


.estrela_hard_skills{

width: 100%;
height: auto;
max-width: 15px;

}

.hard_skills_titulo {
  margin-bottom: 8%;
}


.hard_skills_lista{

  list-style-type: none;
  padding: 0;
  margin: 0;

}

.hard_skills_lista li {
  display: flex;
  align-items: center;
  gap:0.416rem;
  margin-bottom: 8%;
  font-family: "Montserrat", sans-serif;
  
  }

.Adobe_Illustrator{

  width: 22%;
  height: auto;
  object-fit: cover;
  
}

.Adobe_Photoshop{
  width: 22%;
  height: auto;
  object-fit: cover;
}

.Adobe_InDesign{
  width: 22%;
  height: auto;
  object-fit: cover;
}

.VS_Code{
  width: 22%;
  height: auto;
  object-fit: cover;
}

.Figma {
  width: 22%;
  height: auto;
  object-fit: cover;
}

.estrela_decorativa{
  width: 20%;
  height: auto;
  object-fit: cover;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family: 'montserrat'; sans serif;

}

.cabecalho {
  position: fixed;
  background-color:#FFD4D4;
  top: 0;  
  width: 100%;
  padding: 1% 5%;
  
    
}

.cabecalho_menu {
  display: flex;
  justify-content: flex-end;
  gap: 30px;

}


.cabecalho_menu a {
  color: #C8384C; 
  text-decoration: none;
  font-weight: 500;
  font-family: 'montserrat'; sans serif;
  font-size: 0,9375rem;
  transition: 0.3s ease;

}

.cabecalho_menu a:hover{

Color: #1A0202

}


.cabecalho_menu a.active {
  border-bottom: 2% solid #1A0202;
  padding-bottom: 3%;
  color: #1A0202;
}

.container{
    margin: 0%;
    justify-content: space-between;

    
}

.container_capa{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 8%;
    margin: 0%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #C8384C;
    Color: #FFD4D4
    
    
}

.container_capa h1 {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.5rem;
  align-items: center;
  
}



.container_capa h3{

  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  font-style: normal;
  padding: 5%;
  align-items: center;
  
}


.container_conteudo_sobre{

    display: flex;
    justify-content: center;
    align-items: center;
    gap:6rem;
    padding: 6% 8%;   
    background-color: #FFD4D4;
     
}


.container_conteudo_sobre h1{
  font-family: "Viaoda Libre", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4.375rem;
  line-height: 0.9;
  margin-bottom: 5%;
  color:#1A0202
}

h1 {
  line-height: 0.9 !important;
}

.container_conteudo_sobre p{

  color: #1A0202;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 190%;
  margin-bottom: 5%; 
  max-width: 550px;

}

.container_conteudo_sobre_botoes{

  display: flex;
  flex-direction:row;
  align-items: center; 
  gap: 1.25rem; 
}

.botoes_sobre{

  background-color:#C8384C;
  color: #FFD4D4;
  width: 80%;
  text-align: center;
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  padding: 3% 0;
  
  
}


.container_conteudo_sobre_botoes a:hover {

background-color: #1A0202;

}
  


.container_conteudo_software_skills{

    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: #C8384C;
    align-items: center;
    align-content: flex-start;
    gap: 1.6rem;
    flex-direction: column;
    padding: 8% 0%;

    
}



.linha_superior{

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.1rem;
  flex-wrap: wrap;
}
  
  
.skills_box_softwares{
  background-color: #FFD4D4;
  border-radius: 1rem;
  border: 1px solid #1A0202;
  width: 20%;
  aspect-ratio: 1 / 1; 
  padding: 2.5rem 2rem;
  box-sizing: border-box;
   
}

.skills_box_softwares h3{

  text-align: center;
  font-family: 'Viaoda Libre', sans-serif;
  font-size: 1.875rem;
  font-weight:400;
  
}


.hard_skills_box{
  background-color: #FFD4D4;
  border-radius: 1rem;
  border: 1px solid #1A0202;
  width: 20%;
  height: 20%;
  aspect-ratio: 1/1;
  padding: 2.5rem 2rem;
  box-sizing: border-box;
  
  
}

.hard_skills_box h3{

  text-align: center;
  font-family: 'Viaoda Libre', sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  
}


.soft_skills_box{
  background-color: #FFD4D4;
  border-radius: 1rem;
  border: 1px solid #1A0202;
  width: 20%;
  height: 20%;
  aspect-ratio: 1/1;
  padding: 2.5rem 2rem;
  box-sizing: border-box;
  }

.soft_skills_box h3{

  text-align: center;
  font-family: 'Viaoda Libre', sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
 
}


.soft_skills_titulo {
  margin-bottom: 7%;
}


.soft_skills_lista{

  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.soft_skills_lista li {
  display: flex;
  align-items: center;
  gap: 0.41rem; 
  margin-bottom: 7%;
  font-family: "Montserrat", sans-serif;
  
  }

  .skills_box_plus_lista{

  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 0.80rem 3.22rem; 
  }

  .skills_box_plus h3{

  text-align:left;
  font-family: 'Viaoda Libre', sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  display: flex;
  margin-top: 1%;  
  padding:0rem 0.55rem 0rem;
  }

    
  

  .skills_box_plus{

  display: flex;
  align-items: flex-start;
  gap: 1.36rem; 
  }


.linha_inferior{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  flex-wrap: wrap;


}



.skills_box_plus{

  background-color: #FFD4D4;
  border-radius: 16px;
  border: 1px solid #1A0202;
  width: 1030px;
  padding: 40px 30px;
  box-sizing: border-box;
  max-width: 90%;
    
}


.linha_superior{

align-items:first baseline

}

.icons_softwares{

  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;

}

.container_conteudo_projetos{

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 0px;
    min-height:100vh;
    background-color: #FFD4D4;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
}


.linha_superior_projeto{

  flex-direction: row; 
  gap: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

.linha_inferior_projeto{

  flex-direction: row; 
  gap: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
 

}

.projeto_primeira_linha_iustração{

width: 289px;
height: auto;
object-fit: cover;
align-items: center;

}

.projeto_primeira_linha{

width: 300px;
height: auto;
object-fit: cover;


}

.projeto_segunda_linha{

  width: 300px;
  height: auto;
  object-fit: cover;

}

.container_conteudo_contato{

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 80px;
    min-height:60vh;
    background-color:#C8384C;
    flex-direction: column;
    gap: 100px ;
    
  }

  .container_conteudo_contato h1{

  text-align:left;
  color: #FFD4D4;
  font-family: 'Viaoda Libre', sans-serif;
  font-size: 3.125rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 15px;

  }




  .container_conteudo_contato p{

  text-align:left;
  color: #FFD4D4;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0;
  gap: 15px;

  }

.container_conteudo_contato h2{

  text-align:left;
  color: #FFD4D4;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0;
  gap: 15px;
}


  .estrela_contato_titulo{

    width: 35px;
    height: auto;
    object-fit: cover;

  }

  .itens_contato{

  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  width: 100%; 
  max-width: 1100px; 
  gap: 100px;
  
    
  }

  .bloco_icones{

    display: flex;
    align-items: center; 
    gap: 15px; 
  }

  .icons_contato{

    width: 50px;
    height: auto;

  }

  .icons_contato_whatsapp{

    width: 60px;
    height: auto;

  }


body:has(#sobre:target) a[href="#sobre"],
body:has(#software_skills:target) a[href="#software_skills"],
body:has(#projetos:target) a[href="#projetos"],
body:has(#contato:target) a[href="#contato"] 
{ color: #1A0202;}


@media (max-width: 480px) {
  
  .cabecalho_menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem; 
        padding: 2%;
       
  }

  .estrela_capa{

    width: 10%;
    height: auto;
  }

  .container_capa h1 {
    font-size: 5rem;
    text-align: center;
  }

  .container_capa h3 {
    font-size: 1rem;
    text-align: center;
  }

  .container_conteudo_sobre {

    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
    padding: 10% 8%;
    height: auto;
  }

  .container_conteudo_sobre h1 {
    font-size: 4rem;
    
  }

   

  .container_conteudo_sobre p {
    font-size: 1rem;
   
  }

  .container_conteudo_sobre_botoes {
    
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

  } 

  .botoes_sobre{
  
  width: 100%;  
  padding: 6% 0;

  }

  
  .container_conteudo_sobre_botoes a:hover{

  background-color: #1A0202;

  }


  .container_conteudo_software_skills{

    display: flex;
    flex-direction: column;    
    gap: 1.6rem;    
    padding: 8% 0%;

    
  }

  
.skills_box_softwares{
  
  width: 70%;
  height: auto;
    
}

.hard_skills_box{  

  width: 70%;
  height: auto;  
  align-items: center;
}


.soft_skills_box{
  
  width: 70%;
  height: auto;   
  

}


.soft_skills_lista {

flex-wrap: wrap;
text-align: center;
padding: 5% 0% 0% 14%;
flex-direction: column;

}

.hard_skills_lista{
   
flex-wrap: wrap;
text-align: center;
padding: 5% 0% 0% 6%;
flex-direction: column;

}

.skills_box_plus h3{

  margin-top: 0%;
  display:flex;
  flex-direction: column;
  text-align: center;
 

}

.skills_box_plus{
 
  width: 100%;
  height: auto;  
  align-items: center;
  display: flex;
  flex-direction: column;
 }

.skills_box_plus_lista{

  display: flex;
  flex-direction: column;
  padding-left: 10%;
  flex-wrap: wrap;

}

.container_conteudo_projetos{

  display: flex;
  align-items: center;
  flex-direction: column;   
  
}

.linha_superior_projeto{

  display: flex;
  flex-direction:column;
  padding: 11%;
  

}

.linha_inferior_projeto{

display: flex;
flex-direction: column;

}


 .container_conteudo_contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 10% 5%;
    text-align: center;
  
  }


  .itens_contato {
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  .bloco_icones {
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 0.5rem;
  }

  .icons_contato {
    width: 60px;   
    height: auto;
  }


  .contato_titulo{

    font-size: 6rem;
    margin-top: -2rem;
    margin-bottom: 2rem;

  }
 
  .contato h2 {

    display: flex;
    font-size: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
       
  }

  .contato p {
    font-size: 0.9rem;
    text-align: center;
  }
.icons_contato_whatsapp{

  width: 60%;
  height: auto;
}
  
.texto{

display: flex;
flex-direction: column;

}

.foto_sobre_mim{

width: 100%;

}

}